DATA STRUCTURE QUESTIONS

1.What are data structures, and why are they important?
- Data structures are a way of of organizing and storing data in a computer so that it can be accessed and used efficiently.Data structures are important because it can improve the speed and effiency of algorithms and programs,it helps to organize data in a way that easy to understand and manipulate,it allow programs to handle large ammounts of data efficiency etc.

2.Explain the difference between mutable and immutable data types with examples.
- Mutable data types are data types that allow modifiction of their values in place,without creating a new object but immutable data types cannot be changed after creation.Mutable data types can be less memory efficient due to dynamic resizing but immutable datatypes can be more efficient.Examples of mutable data types-list,dict,set and immutable datatypes-int,float,tuple,str.

3.What are the main differences between lists and tuples in Python?
- List can be changed by adding or removing element after creation thats why list are mutable. But tuples cannot be changed after creation so tuples are immutable.The items in list are surrounded in square brackets and in tuples items are surrounded in parenthesis.

4.Describe how dictionaries store data.
- Dictionary is a data sructure that stores the value in key:value pairs.Values in a dictionary can be of any data type and can be duplicated,whereas keys can't be repeated and must be immutable.

5.Why might you use a set instead of a list in Python?
- Sets do not allow duplicate elements.If ensuring uniqueness is a priority,using a set automatically handles this constraint.Lists,on the other hand, permit duplictae values.If we don't want the values in the data to change,we can use a set,but if we want the items to change, we can use a list.

6.What is a string in Python, and how is it different from a list?
- A string is a sequence of characters between single or double quotes.string is an immutable sequence of characters,meaning once it is created,it cannot be changed.A list is a sequence of items where each item could be anything.Lists are mutable,means their contents can be modified after creation.

7.How do tuples ensure data integrity in Python?
- Tuples in python ensure data integrity through their immutability.Once a tuple is created,its elements cannot be modified,added or removed.This characteristic guarantees that data stored within a tuple remains constant throughout its lifecycle,preventing accidental or unauthorized changes.

8.What is a hash table, and how does it relate to dictionaries in Python?
- Hash tables are a type of data structure in which the address/ index value of the data element is generated from a hash function. This enables very fast data access as the index value behaves as a key for the data value.In Python, dictionaries are implemented using hash tables. When a key-value pair is added to a dictionary, Python calculates the hash value of the key using its built-in hash() function. This hash value is then used to determine the index in the underlying hash table where the value will be stored. When retrieving a value, Python again calculates the hash value of the key and uses it to quickly locate the corresponding value in the table.

9.Can lists contain different data types in Python?
- Yes,lists can contain elements of different data types in python.This is one of the features that makes python lists very flexible.A single list can hold integers,floats,strings,booleans and even other lists,dictionaries,or tuples.

10.Explain why strings are immutable in Python
- Strings in Python are immutable which means they can not be changed after they are created.The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.Immutability allows Python to optimize memory allocation for strings. When multiple variables refer to the same string literal, they can point to the same memory location, saving memory.

11.What advantages do dictionaries offer over lists for certain tasks?
- They have different functions. Basically a list is useful when we have a group of items (which, in Python, don't have to be all the same type) that we want to access using some index. The order of the items matters, and it makes sense to talk about the first and last item.

Dictionaries are useful when we have items which need accessing using some sort of key. To take a silly example, perhaps we have a list of people’s names, and we want to associate a telephone number with each name. we care about the order - we just want to put in a name and get a phone number back. Dictionaries are perfect for this.

12.Describe a scenario where using a tuple would be preferable over a list.
- Use a list if we need a mutable collection of items where we may need to add, remove, or change elements. Lists are more flexible and have more built-in methods, making them ideal for dynamic collections.Use a tuple if we need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is crucial.

13.How do sets handle duplicate values in Python?
- Sets in Python are designed to store only unique elements. When a duplicate value is added to a set, it is automatically discarded, and only one instance of the value is retained. This behavior is fundamental to the nature of sets as unordered collections of distinct items.

15.Can you modify the elements of a tuple? Explain why or why not?
- No,we can't modify the elements of a tuple.Tuples are immutable,which means their elements cannot be changed after creation.

16.What is a nested dictionary, and give an example of its use case?
- A nested dictionary in python is a dictionary that contains other dictionary as values.This structure allows for the organization of data in a hierchial manner,representing relationships and categories within data.Each key in the main dictionary maps to another dictionary,which can,in turn,contain further netsed dictionaries,creating multiple levels of organization.

17.Describe the time complexity of accessing elements in a dictionary?
- Accessing an element in a dictionary typically takes O(1)(constant time) on average.This means the time it takes to retrieve a value using its key doesn't increase significantly as the dictionary size grows.In a worst case scenario where numerous collisions occur the time complexity can degrade to O(n)(linear time).

18.In what situations are lists preferred over dictionaries?
- For quick data look-ups,configurations,or caches,favor dictionaries.For ordered collections and sequence operations,such as maintaining a stack or queue,lists are more suitable.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionary is termed as an unordered collection of object because the printed order of elements is not same as the order in which the elements are stored.Key-based retrieval is unaffected by order—it relies on the hash of the key and is always O(1) on average.In modern Python Insertion ordered,but still used as a mapping (not sorted).Iteration now preserves insertion order, which can be useful for consistency and readability.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
- In list,Data is accessed by position (index).In dictionary Data is accessed by key.List is used when the order of elements is important and we need sequential access.Dictionary is used when we want to associate values with unique identifiers for fast, direct lookup.

PRACTICAL QUESTIONS

1.Write a code to create a string with your name and print it.

In [ ]:
# Create a string with a name
name = "ANWESA"

# Print the name
print("My name is", name)

My name is ANWESA

2.Write a code to find the length of the string "Hello World".

In [ ]:
# Define the string
text = "Hello World"

# Find the length of the string
length = len(text)

# Print the length
print("The length of the string is", length)

The length of the string is 11

3.Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
# Define the string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the sliced part
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

4.Write a code to convert the string "hello" to uppercase.

In [ ]:
# Define the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase:", uppercase_text)

Uppercase: HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
# Define the original string
text = "I like apple"

# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

# Print the updated string
print(new_text)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
# Define the original list
numbers = [1, 2, 3, 4]

# Append the number 10
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
# Define the list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the second element
print("Second element:", second_element)

Second element: b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
# Define the list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
# Create a tuple
my_tuple = (100, 200, 300)

# Print the tuple
print("The tuple is:", my_tuple)

The tuple is: (100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element using negative indexing
second_to_last = colors[-2]

# Print the second-to-last element
print("Second-to-last element:", second_to_last)

Second-to-last element: blue

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number
min_number = min(numbers)

# Print the minimum number
print("The minimum number is:", min_number)

The minimum number is: 5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of the element "cat"
index_of_cat = animals.index('cat')

# Print the index
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
# Create the tuple with three fruits
fruits = ('apple', 'banana', 'cherry')

# Check if "kiwi" is in the tuple
is_kiwi_in_tuple = 'kiwi' in fruits

# Print the result
print("Is 'kiwi' in the tuple?", is_kiwi_in_tuple)

Is 'kiwi' in the tuple? False

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
# Create the set
my_set = {'a', 'b', 'c'}

# Print the set
print("The set is:", my_set)

The set is: {'a', 'c', 'b'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
# Define the set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the empty set
print("The set after clearing:", my_set)

The set after clearing: set()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
# Define the set
my_set = {1, 2, 3, 4}

# Remove the element 4 from the set
my_set.remove(4)

# Print the updated set
print("The set after removing 4:", my_set)

The set after removing 4: {1, 2, 3}

19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the two sets
union_set = set1.union(set2)

# Print the result
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection of the two sets
intersection_set = set1.intersection(set2)

# Print the result
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
# Create the dictionary
person = {
    "name": "Anwesa",
    "age": 27,
    "city": "Kolkata"
}

# Print the dictionary
print(person)

{'name': 'Anwesa', 'age': 27, 'city': 'Kolkata'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
# Original dictionary
person = {'name': 'John', 'age': 25}

# Add new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
# Dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value of the key "name"
name_value = person['name']

# Print the value
print(name_value)

Alice

25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
# Dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if "city" key exists
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Print them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [33, 35, 43, 65, 80]

28.Write a code to create a list with strings and print the element at the third index.

In [ ]:
# Create a list with strings
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Print the element at the third index
print("Element at index 3:", fruits[3])

Element at index 3: date

29.Write a code to combine two dictionaries into one and print the result.

In [ ]:
# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.Write a code to convert a list of strings into a set.

In [ ]:
# List of strings
string_list = ['apple', 'banana', 'cherry', 'apple', 'banana']

# Convert the list to a set
string_set = set(string_list)

# Print the set
print("Set:", string_set)

Set: {'cherry', 'apple', 'banana'}